body {
    background-color: #262626;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

p {
    font-family: monospace;
    color: #c8c8c8;
    font-size: small;
}

#particles-js {
    height: 100vh;
    width: 100vw;
    position: absolute:
    background: #262626;
    z-index: -1000;
}

button {
    background-color: #4b4b4b;
    border-color: #333;
    border-style: solid;
    font-family: monospace;
    color: #c8c8c8;
}

#center {
    justify-content: center;
    border-style: solid;
}

.multi {
    display: inline-block;
    position: absolute;
}

button:hover {
    cursor: pointer;
    background-color: #5b5b5b;
    border-color: #333;
    border-style: solid;
    font-family: monospace;
    color: #c8c8c8;
}

h1 {
    font-family: monospace;
    display: flex;
    justify-content: center;
    color: #c8c8c8;
    font-size: xx-large;
}

hr {
    color: #c8c8c8;
    display: flex;
    justify-content: center;
}
